body {
        background-color: #edf4f6;
        font-family: "Gowun Batang", serif;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
}

#topo,
#oms {
        clear: both;
        width: 100%;
}

#oms {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 25px;
        flex-direction: row;
        border: 2px solid #808080;
        margin-left: 10%;
        max-width: 80%;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
}

.omPagina {
        background-color: #fff;
        padding: 20px;
        text-align: center;
        border: 1px solid rgb(222, 222, 222);
        border-radius: 5px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.omPagina:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
}

.nomeOM {
        font-weight: bold;

}

#oms img {
        max-height: 100px;
        margin-bottom: 10px;
}

a:visited,
a:link,
h1 {
        color: #2ba7db;
        text-decoration: none;
}

a:visited,
a:link {
        font-size: 17px;
        color: #2ba7db;
        text-decoration: none;
}

a:hover {
        color: #f57167;
}